<div class="jumbotron mt-5" style="background-color: #fff8cd;">
    <h1 class="display-4">Thank you for buying our caps!</h1>
    <p class="lead">Your order is on the way. </p>
    <hr class="my-4">
    <p style="font-size: 2rem;">Want to buy some more caps?</p>
    <p class="lead">
        <a href="/user/filahcaps"><button style="width: 20%" type="button" class="btn btn-outline-dark">Shop</button></a>
    </p>
  </div>