<div class="mainimage" style="text-align: center;">
		
    <img class="center" src="../images/cart.jpg" width="500" height="400">
    <h1>Your Cart is Empty</h1>
    <p> to see the items in your cart</p>

</div> 