body{
    height:100%; 
    margin:0;
}
.logo{
    color: black;
}

.index{
    padding: 1% 5.5%;
} 

/* .carousel img {
    max-height: 500px;
    margin: 0 auto;
    width: 100%;
} */
.carousel-item {
    width: 100%;
    height: 500px; /* example */
  }
  
  .carousel-item img {
    width: 100%;
    height: 100%;
  }

  .card-group{
      margin-top: 1%;
  }

  .index-jumbo{
      margin-top: 5%;
      margin-bottom: 0%;
      padding-bottom: 2%;
      text-align: center;
      background-color: white;
  }
  
  .card-img-top{
      height: 60%;
  }

  .card{
      margin-right: 3%;
       
  }

  

