body{
    height:100%; 
    margin:0;
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
}

.card-text{
  color: green;
}

.main-image{
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

li{
padding-right: 10px;
}

.page-footer {
   padding-left: 0%;
   padding-right: 0%;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

#sticky-footer {
  
  position: fixed;
  height: 50px;
  bottom: 0;
  width: 100%;
}
  
  

  
  

  th, td {
    padding: 10px;
  }



 


  
  


