<!-- Footer -->
<footer class="page-footer font-small mt-5" style="background-color: rgb(71, 71, 71);">

  
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="color: white;">© 2020 Copyright:
    <a href="https://mdbootstrap.com/" style="color: white;">Abimbola Bamgbelu</a><br>
    
  </div>

</footer>
<!-- Footer -->